<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>News Highlight Widget</title>
</head>
<body>
  <element name="news-highlight" extends="ul">
    <template id="news-highlight">
      <style>
        ul { margin-top: 0; }
        .featured {
          color: red;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px dotted #ccc;
        }
      </style>
      <h3>Featured news</h3>
      <ul class="featured">
        <content select=".news-election, .news-disaster"></content>
      </ul>
      <ul>
        <content></content>
      </ul>
    </template>
  </element>
</body>
</html>